body {
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}
.navbar {
  background-color: black;
  display: flex;
  flex-direction: row;
  color: white;
  width: 100%;
  position: sticky;
  padding: 12px 0;
  margin: 0;
  top: 0;
  align-items: center;
  justify-content: space-between;
  font-size: 15pt;
  text-transform: capitalize;
  z-index: 100;
}
.navitems {
  color: white;
  display: flex;
  padding: 0 1em;
  margin-right: 10px;
  gap: 50px;
  justify-content: space-between;
}
.logo {
  padding: 5px;
 
}

.graynav {
  background-color: rgb(238, 237, 237);
  width: 100%;
  display: block;
  margin: 0;
}
.graynav h1 {
  margin: 0 5px;
  padding: 17px 0;
}
.cards {
  padding: 0;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardimg {
  align-items: center;
  z-index: 0;
  margin-left: 270px;
}

.incard {
  position: relative;
  z-index: 1;
  top: -75px;
  height: 50%;
  max-width: 35%;
  margin: 0 auto;
  border: none;
  background-color: white;
  border-radius: 25px;
  padding: 0.5% 3.5%;
  text-align: center;
}
.tags {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  font-size: small;
}
/* .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 50px;
}
.footer>.container>.sections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer>.container>.sections>.section {
    margin-right: 100px;
    text-transform: capitalize;
} */
.btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  border-radius: 10px;
  background-color: #05a5ea;
  padding: 1em 2em;
  justify-items: center;
  margin-left:42% ;
  margin-top: 100px;
  cursor: pointer;
  margin-bottom: 70px;
}
